params {
    docker_sudo = false
    flye_cpu = 46
    flye_ram = '300 GB'

    container = "nanozoo/flye:latest"
    output = "$baseDir/results"


    input_s3 = false
}

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)" 
    
    if (params.docker_sudo) {
        sudo = true
        } else {
            sudo = false
        }
}